@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100&display=swap');

.tabs .tab-active {
  
  background-color:#FFFFFF !important;
  
}

.page-content {
    background-color:#FFFFFF !important;
  
}


.item-input {
  
  background-color:white !important;
  
  border-bottom:2px solid grey !important;

  
}

.item-inner {
  
  padding-left:5px;
}

.item-input-focused {
  
  border-bottom:3px solid purple !important;
  
}

.list .item-content {
  
  
  
}

.navbar-inner {

    border-bottom: 1px solid white !important;
    background-color: white !important;
  
}

.navtitle {
  
  color:purple !important;
  
  
}




body {
  
  color: #7d7d7d;
  font-family: "Lato", serif !important;
  
}

#map {
    height: 30vh;
    width: 80vw;
    left:10vw;
}